.banner_section {
    background-image: url('./../../img/pages-bg.jpg');
    height: 500px;
    display: flex;
    background-position: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_text_section h1{
    color: #081f4c;
}
.banner_text_section p{
    text-shadow: 0px 0px 20px #081f4c;
}